body{
    font-family: 'Oswald', sans-serif;
    cursor: default;
    width: 100vw;
    height: 100vh;
    margin:0;
}
.main-container{
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: 0.3fr 0.1fr 1.5fr 0.2fr;

    .head
    {
        background-color: burlywood;
        text-align: center;
        grid-column: 1 / span 4;
        grid-row: 1 / 1 ;
        padding: 1em 0 0;
        h1{
            font-family: 'Monoton', cursive;
            font-weight: 550 ;
            font-size: 50px;
            margin-bottom: 0;
        }
        
        h2{
            font-family: 'Lobster', cursive;
            font-size: 30px;
            margin:0;
            padding: 0;
        }
    }

    .navigation{
        background-color: #F5DEB3;
        text-align: center;
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
        a:link{
            text-decoration: none;
            padding: 0 1rem 0;
            cursor:pointer;
        }
    }

}